<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="СервисЦентр.Properties.Settings.СервисЦентрConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=СервисЦентр;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="СервисЦентр.Properties.Settings.СервисЦентрConnectionString1"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=СервисЦентр;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>